

.risk_container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
}
.risk_content svg {
  width: 42px;
  height: 42px;
}
.risk_content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  max-width: 500px;
  border: 1px #333 solid;
  padding: 0.8rem 1.5rem;
  font-family: sans-serif;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='700' height='700' preserveAspectRatio='none' viewBox='0 0 700 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1112%26quot%3b)' fill='none'%3e%3crect width='700' height='700' x='0' y='0' fill='url(%23SvgjsLinearGradient1113)'%3e%3c/rect%3e%3cpath d='M700 0L693.38 0L700 192.14z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M693.38 0L700 192.14L700 305.29999999999995L321.05 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M321.05 0L700 305.29999999999995L700 483.8299999999999L317.22 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M317.22 0L700 483.8299999999999L700 637.16L259.8 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 700L60.31 700L0 693.94z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 693.94L60.31 700L164.44 700L0 338.2900000000001z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 338.29L164.44 700L198.05 700L0 328.75z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 328.75L198.05 700L392.74 700L0 251.28z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1112'%3e%3crect width='700' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1113'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(85%2c 159%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  border-radius: 20px;
  color: #fff;
}
.risk_close{
 cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.40625rem;
  color: #fff;
}

.risk_logout{
        position: absolute;
        top: 10px;
        left: 10px;
        border: 1px solid #000;
        border-radius: 5px;
        color: #000;
        cursor: pointer;
        padding: 0.3rem;
        background-color: #ffffff9d;
        font-weight: bold;
      }
.risk_title {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 0.8rem;
  text-align: center;
  font-weight: 900;
}
.risk_table {

  width: 100%;
  border-collapse: separate;
  border-spacing: 0 3px;
  color: #fff;
  margin-bottom: 1.5rem;
}
.risk_table th {
  padding-left: 1.825rem;
  text-align: left !important;
  padding-block: 0;
}
.risk_table th,
.risk_table td {
  text-align: center;
  background: #444857;
  border: none !important;
}
.risk_table tr td:last-child {
  border-radius: 0 50px 50px 0;
}
.risk_table tr th {
  border-radius: 50px 0 0 50px;
  display: flex;
  align-items: center;
}
.risk_table tr {
  background: none !important;
}
.risk_progress {
  margin-bottom: 1.5rem;
  background: #444857;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.7rem;
  padding-right: 0.5rem;
  font-size: 1.1rem;
}
.risk_progress div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}
.risk_progress-bar {
  flex: 0.95;
  height: 2rem;
  border-radius: 50px;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.risk_progress-bar-fill {
  height: 100%;
  
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
}

.risk_progress-bar-text {
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translate(-50%, -50%);
  color: #000;
}
/* style extracted from script*/
.risk_button{
  background:#459e1a;
  color: #fff;
  border-radius:50px;
  border:none;
  padding:0.25rem 2rem;
  font-weight: 400;
  letter-spacing: 1px;
 
}
.risk_button_container{
  display:flex;
  align-items:center;
}
.risk_view{
   background:#444857;
   color: #fff;
   border-radius:10px;
   width: fit-content;
   padding: 0.25rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}
/*sign up style**************************************/
.risk_required{
  color: #e4ff00;
  display: none; 
  background: #333;
  padding: 5px;
  border-radius:5px;
}

   .risk_wrapper{
  width: 70%;
  margin: 0 auto;
}
.risk_logo {
    overflow: hidden;
    width: 5.5rem;
    height: 5.5rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    background:#fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.risk_logo img {
width: 100%;
}
.risk_btn_go{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  background: #444857;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2px;
  margin-bottom: 1.5rem;
  outline: none !important;

 
}
.risk_btn_go div {
width: 3rem;
height: 3rem;
margin-right: .5rem;
border-radius: 50%;
background: #fff;
}
.risk_btn_go div svg{
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 100%;
}
.risk_btn_go p{
  margin: .5rem !important;
  font-weight: bold;
  margin-right: .8rem;
  font-size: 1.5rem;
}

.risk_content ::placeholder{
  color: #fff;
}

.risk_text{ 
  color: #fff;
  padding: .7rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid #fff;
  background: #444857;
  margin-bottom: 1rem;
  width: 100%;

}
.risk_content a{
  color: #fff;
  text-decoration: none; 
}


.risk_btns_container{
  margin-top: 1rem;
  text-align: center;
}

.risk_btns{
 cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  padding:  0.5rem 2.8rem;
  margin-bottom: 20px;
  border: none;
  outline: none;
  border-radius: 8px;
}
.risk_btn_sign{
  background:#459e1a ; 
}
.risk_btn_cancel{
  background: #fbbc05; 
  color: #000;
}
.risk_link{
  text-align: center;
  font-size:1rem;
}
.risk_link a {
  color: #fbbc05 !important;
   cursor: pointer;
  font-weight: 700;
}


/*media query **********************************/
@media only screen and (max-width: 480px) {
  html {
    font-size: 11px !important;
  }
  .risk_table td{
   width: 30%;
  }
  .risk_content {
    width: 80%;
    padding: 0.8rem 1rem;
  }
  .risk_button{
   padding: 0.125rem 0.8rem;
    letter-spacing: 0px;
    
  }
  .risk_table svg {
    width: 32px;
    height: 32px;
  }
  .risk_view svg {
    width: 22px;
    height: 20px;
    
  }
  .risk_view{
    font-size: 0.8rem;
  }
  .lds-hourglass:after {  
    border: 10px solid  !important;
    border-color: #fbbc05 transparent #fbbc05 transparent !important;   
  }
  .risk_table th {
  padding-left: 1.825rem;
   font-weight: 500;
  }
  .risk_btn_go p{
  font-size: 1rem;
   }
  .risk_btns_container{
    margin-top: 1rem;
    display: flex;
    gap: 8px;
    justify-content: space-evenly;
  }
}
  
@media only screen and (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 11px !important;
  }
  .risk_content {
    width: 70%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 12px !important;;
  } 
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  html {
    font-size: 14px !important;;
  }
  .risk_content {
    width: 50%;
  }
}

@media only screen and (min-width: 1201px) {
  html {
    font-size: 16px;
  }
}






/*spinner style*/

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin-left: 8px;
  box-sizing: border-box;
  border: 12px solid currentColor;
  border-color: #fbbc05 transparent #fbbc05 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
/*transition modal*/
.risk_container.show {
  display: block;
  animation: modal-show 0.3s ease-in-out;
}

@keyframes modal-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/**/
